html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  padding-top: 50px;
  background: var(--color-bg);
  color: var(--color-text);
  font-family: Inter, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1650px;
  margin: 0 auto;
  padding: 0 30px;
}
